<p>
  admin works!
</p>
<!-- <router-outlet></router-outlet>  -->
<!-- <app-basic-tables>  </app-basic-tables> -->

<table class=" table table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">FULL NAME</th>
      <th scope="col">PHONE</th>
      <th scope="col">EMAIL</th>
      <th scope="col">ACC NUMBER</th>
      <th scope="col">STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark Otto</td>
      <td>0244281080</td>
      <td>slowman@gmail.com</td>
      <td>12345xxxxx</td>
      <td><i class="fa fa-thumbs-o-up  " aria-hidden="true"></i><i class="fa fa-thumbs-o-down " aria-hidden="true"></i></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob Kwese</td>
      <td>1233468</td>
      <td>JK@gmail.com</td>
      <td>906787xxxx</td>
      <td><i class="fa fa-thumbs-o-up  " aria-hidden="true"></i></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>1233468</td>
      <td>JK@gmail.com</td>
      <td>906787xxxx</td>
      <td><i class="fa fa-thumbs-o-up  " aria-hidden="true"></i></td>

          </tr>
    
  </tbody>
</table>