<p>
  client works!
</p>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Fullname</th>
      <th scope="col">Contact</th>
      <th scope="col">Email</th>
      <th scope="col">Acc Number</th>
      <th scope="col">Cash</th>
      <th scope="col">Date</th>
      <th scope="col">Item</th>
    </tr>
  </thead>
 <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark Otto</td>
      <td>0244281080</td>
      <td>slowman@gmail.com</td>
      <td>12345xxxxx</td>
     
    </tr>
    
  </tbody>
</table>