<p>
  merchant works!
</p>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Fullname</th>
      <th scope="col">Acc Number</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
 <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark Otto</td>
      <td>0244281080</td>
      <td>slowman@gmail.com</td>
      <td>12345xxxxx</td>
      <td><i class="fa fa-thumbs-o-up  " aria-hidden="true"></i><i class="fa fa-thumbs-o-down " aria-hidden="true"></i></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob Kwese</td>
      <td>1233468</td>
      <td>JK@gmail.com</td>
      <td>906787xxxx</td>
      <td><i class="fa fa-thumbs-o-up  " aria-hidden="true"></i></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>1233468</td>
      <td>JK@gmail.com</td>
      <td>906787xxxx</td>
      <td><i class="fa fa-thumbs-o-up  " aria-hidden="true"></i></td>

          </tr>
    
  </tbody>
</table>